<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="favicon.png" rel="shortcut icon" type="image/png">

    <!--Import Google Icon Font-->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="3rdparty/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="3rdparty/css/bootstrap-material-design.min.css" rel="stylesheet">
    <link href="3rdparty/css/ripples.min.css" rel="stylesheet">

    <link rel="stylesheet" href="index.min.css"/>

  </head>
  <body id="application">

    <div v-show="mainView === 'login'" v-cloak>
      <br/>
      <br/>
      <div class="container" id="loginView">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h2 class="modal-title">Login</h2>
          </div>
        </div>
        <form v-on:submit.prevent="doLogin">
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="form-group label-floating">
                <label class="control-label" for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" v-model="username" autofocus />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <div class="form-group label-floating">
                <label class="control-label" for="inputPassword">Password</label>
                <input type="password" class="form-control" id="inputPassword" v-model="password" autofocus />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <button type="submit" class="btn btn-success pull-right">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>


    <div v-show="mainView === 'content'" v-cloak>
      <div class="modal" id="modalDel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <h4>Really Delete this Note?</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" v-on:click="deleteThing()">Delete</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="modalShare">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              This note is publicly available at <a href="{{ shareThingLink }}" target="_blank">{{ shareThingLink }}</a>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid title-bar shadow">
        <div class="row">
          <div class="col-xs-12 align-center">
            <button type="button" class="btn btn-default btn-small" v-on:click="doSearch()"><i class="material-icons">search</i></button>
            <input type="text" placeholder="Search..." class="search" v-el:searchinput type="search" v-model="search" v-on:focus="showTags()" v-on:blur="hideTags()" v-on:keyup.enter="doSearch()">
            <button type="button" class="btn btn-default btn-small" id="showTagsButton" v-on:click.stop="clearSearch()"><i class="material-icons">clear</i></button>
            <div class="tag-dropdown" v-show="tagsVisible">
              <div v-for="tag in tags" class="col-xs-4">
                <a href="{{'/#search?#' + tag.name}}" v-on:click="tagSearch(tag)" class="tag-link">{{ tag.name }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="backdrop-main" v-bind:class="{ 'open': tagsVisible }" v-show="tagsVisible"></div>

      <div class="container main">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="well" v-on:click="giveAddFocus()">
              <div class="card-content align-right">
                <textarea v-el:addinput placeholder="Add something..." v-model="thingContent" v-bind:class="{ active: !!thingContent }"></textarea>
                <button v-el:addbutton class="btn btn-default" v-on:click="addThing()" v-bind:class="{ hide: !thingContent }">add</button>
              </div>
            </div>
            <div v-show="!busyThings">
              <div class="well" v-for="thing in things" v-bind:class="{ edit: thing.edit }">
                <div class="thing-actions">
                  {{ thing.createdAt | prettyDateOffset }}
                  <span v-show="thing.edit">
                    <button class="btn btn-default btn-small" v-on:click="cancelEdit(thing)"><i class="material-icons">clear</i></button>
                    &nbsp;
                    <button class="btn btn-default btn-small" v-on:click="saveEdit(thing)"><i class="material-icons">done</i></button>
                  </span>
                  <span v-show="!thing.edit">
                    <button class="btn btn-default btn-small" v-on:click="showThingShare(thing)"><i class="material-icons">share</i></button>
                    <button class="btn btn-default btn-small" v-on:click="showThingEdit(thing)"><i class="material-icons">edit</i></button>
                    <button class="btn btn-default btn-small" v-on:click="showThingDel(thing)"><i class="material-icons">delete</i></button>
                  </span>
                </div>
                <div class="card-content">
                  <div v-show="thing.edit"><textarea v-model="thing.content" id="{{ 'editThingTextarea' + thing.id }}" style="height: 200px"></textarea></div>
                  <div class="thing-content" v-show="!thing.edit">{{{ thing.richContent | markdown }}}</div>
                </div>
              </div>
            </div>
            <div v-show="busyThings">
              <br/>
              <br/>
              <br/>
              <center><i class="spinner"></i></center>
            </div>
          </div>
        </div>
      </div>

      <div class="fixed-action-btn">
        <a class="btn btn-fab" v-on:click="showSettings()">
          <i class="large material-icons">reorder</i>
        </a>
      </div>

      <div class="settings" id="settings" v-bind:class="{ 'open': open }">
        <div class="backdrop" v-bind:class="{ 'open': open }" v-on:click="hide()"></div>
        <div class="container" v-bind:class="{ 'open': open }">
          <div class="section">
            <h4>Interface</h4>
            <p>
              <form class="form-horizontal">
                <div class="form-group">
                  <label htmlFor="inputTitle" class="col-xs-4 control-label">Title</label>
                  <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputTitle" v-model="settings.title" placeholder="Title" />
                  </div>
                </div>
                <div class="form-group">
                  <label htmlFor="inputBackgroundImage" class="col-xs-4 control-label">Background</label>
                  <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputBackgroundImage" v-model="settings.backgroundUrl" placeholder="url" />
                  </div>
                </div>
              </form>
              <div class="col s12">
                <button class="btn btn-default" v-on:click="toggleSettings">Cancel</button>
                <button class="btn btn-default" v-on:click="saveSettings">Save</button>
              </div>
            </p>
          </div>
          <br/>
          <div class="section">
            <h5>Content</h5>
            <p>
              <div v-show="!importFile">
                <input id="inputImport" v-el:importfile type="file" v-on:change="importFileChanged()" class="hide">
                <button class="btn btn-raised" v-on:click="triggerImportInput()">Import</button>
              </div>
              <div v-show="importFile">
                <p>Really Import from {{importFile && importFile.name}}?</p>
                <button class="btn btn-flat" v-on:click="importThingsCancel()">No</button>
                <button class="btn btn-flat" v-on:click="importThings()">Yes</button>
              </div>
              <br/>
              <button class="btn btn-raised" v-on:click="exportThings">Export</button>
            </p>
          </div>
          <br/>
          <div class="section">
            <h5>Session</h5>
            <p>
              <button class="btn btn-raised" v-on:click="logout">Logout</button>
            </p>
          </div>
          <br/>
          <div class="section">
            <h5>Extension</h5>
            <p>
              <a class="btn btn-raised" href="/api/extensions/chrome.crx">Chrome</a>
              <br/>
              <br/>
              <a class="btn btn-raised" href="/api/extensions/firefox.xpi">Firefox</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="guacamoly-settings-node" class="hide"></div>

    <script src="3rdparty/jquery.min.js"></script>
    <script src="3rdparty/js/bootstrap.min.js"></script>
    <script src="3rdparty/js/ripples.min.js"></script>
    <script src="3rdparty/js/material.min.js"></script>
    <script src="index.js"></script>

  </body>
</html>
