body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    width: 450px;
    background: #eee;
}

textarea {
    width: 100%;
    height: 80px;
    max-width: 100%;
    padding: 0;
    border: 0;
}

.hide {
    display: none;
}

button {
    width: 100%;
}

.spinner {
    background-color: transparent;
    border: 3px solid #03a9f4;
    border-radius: 50%;
    border-top-color: transparent;
    border-right-color: transparent;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    animation: spinner-animation 0.65s infinite linear;
    font-size: 35px;
}

@keyframes spinner-animation {
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}
