
body {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 80px;
}

.navbar {
    background-color: white;
    color: black;

    :placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
        color: #909 !important;
    }
}

.modal-content .modal-body {
    padding-top: 0;
}

.well {
    overflow: hidden;
    padding: 10px !important;

    &.edit {
        background-color: rgba(255, 231, 0, 1) !important;
    }

    .thing-actions {
        font-size: 12px;
        text-align: right;
        color: #aaa;
        padding-bottom: 10px;

        .btn-small {
            margin: 0;
            padding: 0 !important;
            color: #aaa !important;

            &:hover {
                color: black !important;
            }
        }
    }
}

.align-right {
    text-align: right;
}

.card-content {
    overflow: hidden;

    textarea {
        width: 100%;
    }
}

.thing-content {
    overflow: auto;
}

@import 'settings';
@import 'spinner';

.present-transition {
    transition: all .3s ease;
    opacity: 1;
    transform: scale(1);
}

.present-enter, .present-leave {
    transform: scale(0.8);
    opacity: 0;
}

.tags {
}

.emoji {
  height: 1.2em;
}

[v-cloak] {
  display: none;
}

textarea {
    height: 26px;
    border: none;
    resize: vertical;
    transition: height 200ms;
    background: transparent;

    &.active {
        border: none;
        height: 200px;
    }
}

.action {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

.fixed-action-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.title-bar {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.shadow {
    box-shadow: 0 4px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.search {
    border: 0;
    width: 50%;
    font-size: 24px;
    padding: 8px 0;
    margin: 10px 0;
}

.navbar-form {
    width: 50%;

    .form-group {
        width: 100%;

        .form-control {
            width: 100%;
        }
    }
}

.no-wrap {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.align-center {
    text-align: center;
}

.tag-dropdown {
    position: absolute;
    text-align: left;
    padding: 10px;
    background-color: white;
    max-height: 400px;
    overflow: auto;
    box-shadow: 0 13px 22px 0 rgba(0,0,0,.2),0 15px 20px 0 rgba(0,0,0,.19)
}

.tag-link {
    font-size: 24px;
}

.backdrop-main {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &.open {
        background-color: rgba(0,0,0,0.5);
    }
}

.login-form {
    background-color: white;
    padding: 20px;
}
