.settings {
    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label:before{
        font-family: FontAwesome;
        content: "\f096";
        padding-right: 5px;
    }

    input[type="checkbox"]:checked + label:before {
        content: "\f046";
        padding-right: 3px;
    }

    label {
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }

    .image-picker {
        position: relative;
        width: 355px;
        height: 200px;
        background-color: rgba(0,0,0,.2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        .remove {
            position: relative;
            top: 10px;
            right: 10px;
            float: right;
        }

        .placeholder {
            color: white;
            margin: auto;
        }
    }
}
