.settings {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    &.open {
        z-index: 2000;
    }

    .container {
        position: absolute;
        top: 0;
        width: 400px;
        height: 100%;
        right: -400px;
        background-color: white;
        transition: right 250ms;
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
        overflow: auto;
        padding: 20px;
        padding-top: 50px;

        &.open {
            right: 0;
        }
    }

    .backdrop {
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        transition: background-color 400ms;

        &.open {
            background-color: rgba(0,0,0,0.3);
            opacity: 0.5;
        }
    }
}
