<script type="text/template" id="modal-mailbox-template">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4>Mailbox</h4>
        </div>
        <div class="modal-body">
          Meemo supports receiving mails and will convert them into notes.<br/>
          <br/>
          Just send a mail to <a href="mailto: {{ $root.mailbox }}">{{ $root.mailbox }}</a> and it will appear after some time in your feed.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript"><%- include modal-mailbox.js %></script>
