<script type="text/template" id="modal-browser-extensions-template">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4>Browser Extensions</h4>
        </div>
        <div class="modal-body">
          <p>
            <a class="btn btn-success btn-raised" href="https://chrome.google.com/webstore/detail/guacamoly/lhkjapedcimeeiildlmebipnekekjmod" target="_blank">Google Chrome</a>
            <a class="btn btn-success btn-raised" href="https://addons.mozilla.org/en-US/firefox/addon/guacamoly/" target="_blank">Firefox</a>
            <br/><br/>
            <a href="mailto:johannes@nebulon.de">Let us know if you would need an extension for another browser.</a>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript"><%- include modal-browser-extensions.js %></script>
