<script type="text/template" id="modal-settings-template">
  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4>Settings</h4>
        </div>
        <div class="modal-body settings">
          <form class="form-horizontal" @submit.prevent="save()">
            <div class="form-group">
              <label class="col-xs-3 control-label">Title</label>
              <div class="col-xs-8">
                <input type="text" class="form-control" v-model="title" placeholder="Title" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label">Wide Layout</label>
              <div class="col-xs-8">
                <input type="checkbox" v-model="wide" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label">Background</label>
              <div class="col-xs-8">
                <div class="image-picker" @click="backgroundImageFileTrigger()" v-bind:style="{ backgroundImage: backgroundImage }"></div>
                <input type="file" class="hide" id="backgroundImageInput" @change="backgroundImageFileChanged($event)" accept="image/*"/>
                <div v-show="backgroundImageError" class="text-error">{{ backgroundImageError }}</div>
              </div>
            </div>
            <input type="submit" class="hide" />
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-success" @click="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript"><%- include modal-settings.js %></script>
